<form class="advanced-settings" id="{{ widget_code }}__advanced-settings">
	<div class="{{ widget_code }}__white_block__description">
		<h1>{{ title }}</h1>
		<table style="border: 1px solid black">
			<caption>Таблица данных</caption>
			<tr>
				<th style="border: 1px solid black">1</th>
				<th>2</th>
				<th>3</th>
			</tr>
			<tr>
				<td style="border: 1px solid black">4</td>
				<td>5</td>
				<td>6</td>
			</tr>
			<tr>
				<td style="border: 1px solid black">7</td>
				<td>8</td>
				<td>9</td>
			</tr>
		</table>
	</div>
</form>